USE [master]
GO
/****** Object:  Database [SelesManagement]    Script Date: 9/9/2024 9:37:32 PM ******/
CREATE DATABASE [SelesManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SelesManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SelesManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SelesManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SelesManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelesManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelesManagement]
GO
/****** Object:  Table [dbo].[TblAdmins]    Script Date: 9/9/2024 9:37:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAdmins](
	[adminId] [tinyint] IDENTITY(1,1) NOT NULL,
	[adminUserName] [varchar](20) NULL,
	[adminPassword] [varchar](20) NULL,
 CONSTRAINT [PK_TblAdmins] PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCategories]    Script Date: 9/9/2024 9:37:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCategories](
	[cathegoryId] [int] IDENTITY(1,1) NOT NULL,
	[cathegoryName] [varchar](30) NULL,
 CONSTRAINT [PK_TblCathegory] PRIMARY KEY CLUSTERED 
(
	[cathegoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCustomers]    Script Date: 9/9/2024 9:37:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCustomers](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [varchar](30) NULL,
	[customerSurname] [varchar](35) NULL,
	[customerCity] [varchar](20) NULL,
	[customerStatus] [bit] NULL,
 CONSTRAINT [PK_TblCustomer] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblProducts]    Script Date: 9/9/2024 9:37:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblProducts](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](30) NULL,
	[productBrand] [varchar](30) NULL,
	[productStock] [smallint] NULL,
	[productPreis] [decimal](18, 2) NULL,
	[productStatus] [bit] NULL,
	[productCathegory] [int] NULL,
 CONSTRAINT [PK_TblProduct] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSales]    Script Date: 9/9/2024 9:37:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSales](
	[saleId] [int] IDENTITY(1,1) NOT NULL,
	[saleProduct] [int] NULL,
	[saleCustomer] [int] NULL,
	[salePreis] [decimal](18, 2) NULL,
	[saleDate] [smalldatetime] NULL,
 CONSTRAINT [PK_TblSales] PRIMARY KEY CLUSTERED 
(
	[saleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblProducts]  WITH CHECK ADD  CONSTRAINT [FK_TblProducts_TblCathegories] FOREIGN KEY([productCathegory])
REFERENCES [dbo].[TblCategories] ([cathegoryId])
GO
ALTER TABLE [dbo].[TblProducts] CHECK CONSTRAINT [FK_TblProducts_TblCathegories]
GO
ALTER TABLE [dbo].[TblSales]  WITH CHECK ADD  CONSTRAINT [FK_TblSales_TblCustomers] FOREIGN KEY([saleCustomer])
REFERENCES [dbo].[TblCustomers] ([customerId])
GO
ALTER TABLE [dbo].[TblSales] CHECK CONSTRAINT [FK_TblSales_TblCustomers]
GO
ALTER TABLE [dbo].[TblSales]  WITH CHECK ADD  CONSTRAINT [FK_TblSales_TblProducts] FOREIGN KEY([saleProduct])
REFERENCES [dbo].[TblProducts] ([productId])
GO
ALTER TABLE [dbo].[TblSales] CHECK CONSTRAINT [FK_TblSales_TblProducts]
GO
/****** Object:  StoredProcedure [dbo].[brand]    Script Date: 9/9/2024 9:37:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[brand]
as
select top 1 productBrand from TblProducts group by productBrand order by count(*) desc
GO
USE [master]
GO
